.timer-visual {
  padding: 16px 36px;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 30px;
  font-family: arial;
  font-weight: bold;
  transition: all 1s;
  border-radius: 5px;
  min-width: 110px;
}

.timer-visual.silent {
  /* display: none; */
}

.timer-visual.paused {
  color: red;
}
