div.player {
    position: absolute;
    width: 230px;
    height: 139px;
    padding: 10px;
    border-radius: 50%;
    color: navy;
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid navy;
    box-shadow: 3px 5px 9px 1px #8888a9;
    background: rgb(188, 218, 159);

    background-color: rgb(243, 228, 83);
    color: black; /*rgb(177, 19, 216);*/
    border-color: rgb(216, 209, 19);
}
/*
         1         2         3         4         5         6         7         8         9         0         1         2
1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
Now is the time for all good men to come to the aid of their country. Now is the time for all good men to come to the aid of their
*/
div.player span {
  display: none;
}

div.name span.name {
  display: inline;
}

div.name.pstring span.dash {
  display: inline;
}

div.name.pstring span.name {
  display: block;
  font-size: 30px;
  height: 1em;
  color: navy;
  /*transition: all 3s;*/
  animation-name: animateName;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animateName {
  0% {
    height: 0;
    color: rgba(0,0,0,0);
  }
  100% {
    height: 1em;
    color: navy;
  }
}

div.pstring span.pstring {
  display: inline;
}

div.player.pstring.grid {
  /*
  width: 330px;
  height: 150px;
  background: green;
  border-radius: 30px;
  font-size: 20px;
  transition: all 2s;
  */
  transition: top 2s, left 2s;
  animation-name: gridPositions;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

div#player1.grid  { top:200px !important; left:100px !important; }
div#player2.grid  { top:200px !important; left:440px !important; }
div#player3.grid  { top:200px !important; left:780px !important; }
div#player4.grid  { top:200px !important; left:1120px !important; }
div#player5.grid  { top:400px !important; left:100px !important; }
div#player6.grid  { top:400px !important; left:440px !important; }
div#player7.grid  { top:400px !important; left:780px !important; }
div#player8.grid  { top:400px !important; left:1120px !important; }
div#player9.grid  { top:600px !important; left:100px !important; }
div#player10.grid { top:600px !important; left:440px !important; }
div#player11.grid { top:600px !important; left:780px !important; }
div#player12.grid { top:600px !important; left:1120px !important; }

@keyframes gridPositions {
  0% {
    font-size: 0;
    color: rgba(0,0,0,0);
  }
  20% {
    transform: skew(30deg);
  }
  80% {
    font-size: 21px;
    line-height: 20px;
    color: rgba(0,0,0,0);
  }

  100% {
    width: 330px;
    height: 150px;
    background: lightgreen;
    border-radius: 30px;
    font-size: 21px;
    line-height: 20px;
    color: rgba(0,0,0,1);
    transform: skew(0);
  }
}
